.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    width: 300px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .card p {
    margin: 8px 0;
    font-weight: normal; 
    text-align: left; 
  }
  
  .card h2 {
    margin: 16px 0;
  }
  

  
  .card h3 {
    margin-top: 8px;
    text-align: left; 
    font-weight: normal; 
    text-align: justify;
  }
  