h1 {
  color: white;
}
body {
  background-color: rgb(147, 26, 26);
}
.movies {
  display: flex;
  flex-wrap: wrap;
}

.movieItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: 3px solid #fffdfd;
  border-radius: 8px;
  padding: 16px;
  margin: 16px;
  width: 200px; /* Adjust the width as needed */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s, background-color 0.3s; /* Add transition for smooth effect */
}

.movieItem:hover {
  border-color: silver; /* Apply silver border on hover */
  background-color: #d29d00; /* Change background on hover */
}

.movieItem h3 {
  margin-top: 0;
}

.movieItem img {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
}

.movieItem button {
  margin-top: 16px;
  border-radius: 10px;
}


.movieItem img {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  transition: transform 0.3s;
}

.movieItem:hover img {
  transform: scale(1.05); /* Make the movie cover stick out on hover */
}
